!!!
%html
	%head
		%title "Site Of The Year"
		%link{:rel => "stylesheet", :href => "/theme/default/site.css", :type => "text/css", :media => "screen", :charset => "utf-8"}
		%link{:rel => "stylesheet", :href => "http://www.dotnetguy.co.uk/themes/Blue/css.axd?name=Prettify/prettify1.5.0.7.css", :type => "text/css", :media => "screen,projection", :charset => "utf-8"}
		
		%script{:type => "text/javascript", :src => "http://www.dotnetguy.co.uk/themes/blue/Prettify/prettify.js"}
		
	%body
		#container
			#header
				%h1 
					%img{:src => "/theme/default/images/logo.jpg", :alt => "logo"}
					%a{:href => "/", :rel => "home"} Dan Watson's Coding Zen
			#menu
				%ul
					%li 
						%a{:href => "#"} Home
					%li 
						%a{:href => "#"} Archive
					%li 
						%a{:href => "#"} RSS
					%li 
						%a{:href => "#"} About
					%li
						%a{:href => "#"} Hire Me
			#separator
			#contents
				= yield
			#widgets
				%div.widget.twitter 
					%h4 Social
					%a{:href => "#"} Follow Me On Twitter
				%div.widget.month_list
					%h4 Month List
					%ul
						%li 
							2010
							%ul
								%li 
									%a{:href => "#"} January
								%li 
									%a{:href => "#"} February
								%li 
									%a{:href => "#"} March
						%li	
							2009
							%ul
								%li 
									%a{:href => "#"} April
								%li
									%a{:href => "#"} May
								%li	
									%a{:href => "#"} June
				%div.widget.tag_cloud
					%h4 Tag Cloud
					%ul
						%li
							%a{:href => "#"} C#
						%li
							%a{:href => "#"} Ruby
						%li
							%a{:href => "#"} Linux
				
			#footer== &copy; #{DateTime.now.year} Dan Watson
		
		
		