%link{:rel => "stylesheet", :href => "/theme/#{Blog.theme}/site.css", :type => "text/css", :media => "screen"}
%link{:rel => "stylesheet", :href => "/prettyforms/pretty.forms.css", :type => "text/css", :media => "screen"}
%link{:rel => "stylesheet", :href => "/prettify/prettify.css", :type => "text/css"}