%div.post
	%h2.post_title
		%a{:href => article.permalink, :rel => "follow"}=article.title
	
	%div.post_body
		=article.body
	
	= partial(:'partials/_social', :article => article) unless article.is_page?
	%div.clear