%div.add_comment
	%form.add_comment_form{:id => "commentform", :action => "/post/#{post.slug}/add_comment", :method => "post"}
		%p
			%span Name
			%input{:name => "comment[comment_author]"}
		%p
			%span Email
			%input{:name => "comment[comment_author_email]"}
		%p
			%span Website
			%input{:name => "comment[comment_author_url]"}
		%p
			%span Comment
			%textarea{:name => "comment[comment_content]"}
		%p
			%span &nbsp;
			%input{:id => "add_comment_submit", :type => "submit", :value => "save"}
			
%script{:id => "errorTemplate", :type => "text/x-jquery-tmpl"}
	{{each error}}
	<p class="error">${$value}</p>
	{{/each}}
	
%script{:id => "commentTemplate", :type => "text/x-jquery-tmpl"}
	<div class="comment">
	<div class="comment_name">
	<a href="${comment_author_url}" rel="nofollow">${comment_author}</a>
	</div>
	<div class="comment_time">${readable_date}</div>
	<div class="comment_avatar">
	<img alt="gravatar" class="photo" src="${avatar}"/>
	</div>
	<div class="comment_body"><pre>${comment_content}</pre></div>
	<div class="clear"/>
	</div>
