%ul
	%li 
		%a{:href => "/", :rel => "home"} Home
	%li 
		%a{:href => "/archive"} Archive
	%li 
		%a{:href => "/rss.xml"} RSS
	
	-pages.each do |page|
		%li
			%a{:href => "#{page.link}", :rel => "follow"}
				=page.title
			%div.clear
			-if page.child_pages.any?
				%ul.child_menu
					-page.child_pages.each do |child|
						%li.child_menu_item 
							%a{:href => "#{child.link}", :rel => "follow", :class => "child_menu_item_link"}
								=child.title
							
							
							
