%ul
	%li 
		%a{:href => "/", :rel => "home"} Home
	%li 
		%a{:href => "/archive"} Archive
	%li 
		%a{:href => "/rss"} RSS
	
	-pages.each do |page|
		%li
			%a{:href => "#{page.permalink}", :rel => "follow"}=page.title
	