%div.post
	%h2.post_title
		%a{:href => article.link, :rel => "follow"}=article.title
	
	%div.post_body
		=article.body
	
	= plugin(PluginFactory.instance.get_plugin(:social_links), :article => article) unless article.is_page?
	%div.clear