%script{:type => "text/javascript", :src => "/scripts/jquery-1.5.min.js"}
%script{:type => "text/javascript", :src => "/scripts/jquery.tmpl.js"}
%script{:type => "text/javascript", :src => "/scripts/add.comment.js"}

%script{:type => "text/javascript", :src => "/prettyforms/pretty.forms.js"}
%script{:type => "text/javascript", :src => "/prettyforms/pretty.forms.setup.js"}


%script{:type => "text/javascript", :src => "/prettify/prettify.js"}
%script{:type => "text/javascript", :src => "/prettify/prettify.load.js"}

%script{:type => "text/javascript", :src => "/theme/default/scripts/menu.js"}