%div.add_comment
	%form.add_comment_form{:id => "commentform", :action => "/post/#{post.slug}/add_comment", :method => "post"}
		%p
			%span Name
			%input{:name => "comment[comment_author]"}
		%p
			%span Email
			%input{:name => "comment[comment_author_email]"}
		%p
			%span Website
			%input{:name => "comment[comment_author_url]"}
		%p
			%span Comment
			%textarea{:name => "comment[comment_content]"}
		%p
			%span &nbsp;
			%input{:id => "add_comment_submit", :type => "submit", :value => "save"}