%div.add_comment
	%form.add_comment_form
		%p
			%span Name
			%input
		%p
			%span Email
			%input
		%p
			%span Website
			%input
		%p
			%span Comment
			%textarea
		%p
			%span &nbsp;
			%input{:id => "add_comment_submit", :type => "submit", :value => "save"}