%div.widget.month_list
	%h4 Month List
	%ul
		%li 
			2010
			%ul
				%li 
					%a{:href => "#"} January
				%li 
					%a{:href => "#"} February
				%li 
					%a{:href => "#"} March
		%li	
			2009
			%ul
				%li 
					%a{:href => "#"} April
				%li
					%a{:href => "#"} May
				%li	
					%a{:href => "#"} June