%div.archive
	%table
		%thead
			%tr
				%th Date
				%th Title
		%tbody
			%tr
				%td 11th March 2010
				%td Some really, really, really, really, really, really, really, really, really, long title
			%tr
				%td 11th March 2010
				%td Some really, really, really, really, really, really, really, really, really, long title
			%tr
				%td 11th March 2010
				%td Some really, really, really, really, really, really, really, really, really, long title
			%tr
				%td 11th March 2010
				%td Some really, really, really, really, really, really, really, really, really, long title

					
				