%div.archive
	%table
		%thead
			%tr
				%th Date
				%th Title
				%th Tags
				%th Categories
		%tbody
			- @posts.each do |post|
				%tr
					%td=post.url_date 
					%td
						%a{:href => post.permalink, :rel => "follow"}
							=post.title
					%td
						- post.tags.each do |tag|
							%a{:href => "/tag/#{tag}", :rel => "follow"}
								=tag
					%td
						- post.categories.each do |category|
							%a{:href => "/category/#{category}", :rel => "follow"}
								=category
					
				