%h1 You currently have no posts
%p
  %b Step 1
  %br
  Take your favourite blogging client and then point it at http://yourblog/xmlrpc/ (or http://yourblog/xmlrpc.php - for wordpress compatibility). 
  You will then be asked for your username and password that you created when setting up your blog.

%p
  We recommend 
  %a{:href => "http://illuminex.com/ecto/buy/", :target => "_blank"} ecto
  for mac or 
  %a{:href => "http://explore.live.com/windows-live-writer?os=other", :target => "_blank"} windows live writer
  for windows. Shout Mouth is also compatible with all of the wordpress client's for iDevices, Andriod and Blackberry.
%p
  Shout Mouth FULLY supports the following blogging api's
  %ul
    %li MovableType
    %li MetaWeblog
    %li Blogger
    %li Wordpress
  Clients that correctly work with these api's will work with Shout Mouth.
%p
  %b Step 2
  %br
  Write awesome posts! 
