%h1 You currently have no posts
%p 
	%b Step 1 
	You need to add some posts - why not setup a yourself up as a user and add some posts.

%pre.prettyprint 
	rake create:user email=email password=password firstname=firstname lastname=lastname

%p
	%b Step 2
	Take your favourite blogging client and then point it at http://yourblog/xmlrpc/. 
	It will then ask you for the username and password you used when setting yourself up as a user.
	
%p
	%b Step 3
	Write awesome posts! 