= partial(:_post, :article => @article)

- @article.comments.all_active_and_ham.each do |comment|
	= partial(:_comment, :comment => comment)

= partial(:_comment_form, :post => @article)
					

				
				
				
	
	