= partial(:'partials/_post', :article => @article)

%div.comments
	- @article.comments.all_active_and_ham.each do |comment|
		= partial(:'partials/_comment', :comment => comment)

-if @article.allow_comments?
	= partial(:'partials/_comment_form', :post => @article)
					

				
				
				
	
	