%div.post
	%h2.post_title An Interview With Hamlin Davis
	%div.post_body
		%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer elementum enim non velit eleifend et dapibus nibh iaculis. Maecenas porttitor ipsum vitae nibh imperdiet nec sodales neque placerat. Morbi lorem lectus, malesuada et tincidunt sit amet, aliquam at ante. In hac habitasse platea dictumst. Nullam auctor, sem nec auctor luctus, ligula quam pulvinar sem, et tincidunt elit justo id eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In egestas sodales ante ac mattis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam ante nisl, congue vel malesuada non, feugiat non nisi. Donec vulputate vulputate sem, at interdum dui facilisis in. Nulla sapien elit, aliquam eget egestas ac, sagittis sed nibh. Donec id tellus dui.

		=@code
	
		%p Morbi augue enim, aliquam id lobortis faucibus, volutpat eget lectus. Aliquam accumsan pretium dictum. Suspendisse potenti. Proin erat justo, sollicitudin in bibendum non, imperdiet sit amet nisl. Aliquam a urna a risus sollicitudin tincidunt sit amet vel velit. Maecenas ac sem sit amet massa iaculis facilisis. Nam tempus pellentesque est nec gravida. Sed quis sollicitudin lectus. Mauris vestibulum diam et tortor malesuada ac ultrices ligula sollicitudin. Morbi ut lectus elit. Aenean commodo purus sed diam hendrerit in blandit nulla pharetra. Morbi tincidunt felis eu est pulvinar porta.
	
	%div.post_information Wednesday, 11th March, 2010 By Dan Watson (C#, Interview)
	%div.post_social_links 
		%a{:href => "#"} Tweet Me
		|
		%a{:href => "#"} Link To Facebook
	%div.clear
	%div.comments
		%h4 Comments
		%div.comment
			%div.comment_name 
				%a{:href => "http://www.dotnetguy.co.uk", :rel => "nofollow"} Dan Watson
			%div.comment_time Wednesday, 11th March, 12:40pm
			%div.comment_avatar 
				%img{:class => "photo", :src => "http://www.gravatar.com/avatar/3878d46966eb4c957c9f261357cad8f0.jpg?s=80&d=monsterid", :alt => "cosmetic surgery marketing guide"}
			%div.comment_body Morbi augue enim, aliquam id lobortis faucibus, volutpat eget lectus. Aliquam accumsan pretium dictum. Suspendisse potenti. Proin erat justo, sollicitudin in bibendum non, imperdiet sit amet nisl. Aliquam a urna a risus sollicitudin tincidunt sit amet vel velit.
			%div.clear
		%div.comment
			%div.comment_name 
				%a{:href => "http://www.dotnetguy.co.uk", :rel => "nofollow"} Dan Watson
			%div.comment_time Wednesday, 11th March, 12:40pm
			%div.comment_avatar 
				%img{:class => "photo", :src => "http://www.gravatar.com/avatar/3878d46966eb4c957c9f261357cad8f0.jpg?s=80&d=monsterid", :alt => "cosmetic surgery marketing guide"}
			%div.comment_body Morbi augue enim, aliquam id lobortis faucibus, volutpat eget lectus. Aliquam accumsan pretium dictum. Suspendisse potenti. Proin erat justo, sollicitudin in bibendum non, imperdiet sit amet nisl. Aliquam a urna a risus sollicitudin tincidunt sit amet vel velit.
			%div.clear
		%div.comment
			%div.comment_name 
				%a{:href => "http://www.dotnetguy.co.uk", :rel => "nofollow"} Dan Watson
			%div.comment_time Wednesday, 11th March, 12:40pm
			%div.comment_avatar 
				%img{:class => "photo", :src => "http://www.gravatar.com/avatar/3878d46966eb4c957c9f261357cad8f0.jpg?s=80&d=monsterid", :alt => "cosmetic surgery marketing guide"}
			%div.comment_body Morbi augue enim, aliquam id lobortis faucibus, volutpat eget lectus. Aliquam accumsan pretium dictum. Suspendisse potenti. 
			%div.clear
		%div.add_comment
			%form.add_comment_form
				%p
					%span Name
					%input
				%p
					%span Email
					%input
				%p
					%span Website
					%input
				%p
					%span Comment
					%textarea
				%p
					%span &nbsp;
					%input{:id => "add_comment_submit", :type => "submit", :value => "save"}
					

				
				
				
	
	